## # Introduction
<p><img src="https://assets.datacamp.com/production/project_981/img/lego_unsplash.jpg" alt="A picture of Lego characters!"></p>
<h3 id="letslookatlegosets">Let's look at Lego sets!</h3>
<p>Lego is a household name across the world, supported by a diverse toy line, hit movies, and a series of successful video games. In this project, we are going to explore a key development in the history of Lego: the introduction of licensed sets such as Star Wars, Super Heroes, and Harry Potter.</p>
<p>It may not be widely known, but Lego has had its share of ups and downs since its inception in the early 20th century. This includes a particularly rough period in the late 90s. As described in <a href="https://www.businessinsider.com/how-lego-made-a-huge-turnaround-2014-2?r=US&IR=T">this article</a>, Lego was only able to survive due to a successful internal brand (Bionicle) and the introduction of its first licensed series: Star Wars. In the instructions panel are the two questions you will need to answer to complete this project.</p>
<p>Before diving into our analysis though, let's become familiar with the two datasets that will help you with this project:<br><br></p>
<div style="background-color: #ebf4f7; color: #595959; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:20px"><b>datasets/lego_sets.csv</b></div>
<ul>
    <li><b>set_num:</b> A code that is unique to each set in the dataset. <b><i>This column is critical, and a missing value indicates the set is a duplicate or invalid!</i></b></li>
    <li><b>set_name:</b> A name for every set in the dataset (note that this can be the same for different sets).</li>
    <li><b>year:</b> The date the set was released.</li>
    <li><b>num_parts:</b> The number of parts contained in the set.<b><i> This column is not central to our analyses, so missing values are acceptable.</i></b></li>
        <li><b>theme_name:</b> The name of the sub-theme of the set.</li>
    <li><b>parent_theme:</b> The name of the parent theme the set belongs to. Matches the `name` column of the `parent_themes` csv file.</li>
</ul>

<div style="font-size:20px"><b>datasets/parent_themes.csv</b></div>
<ul>
    <li><b>id:</b> A code that is unique to every theme.</li>
    <li><b>name:</b> The name of the parent theme.</li>
    <li><b>is_licensed:</b> A Boolean column specifying whether the theme is a licensed theme.</li>
</ul>
    </div>
<p>From here on out, it will be your task to explore and manipulate the existing data until you are able to answer the two questions described in the instructions panel. Feel free to add as many cells as necessary. Finally, remember that you are only tested on your answer, not on the methods you use to arrive at the answer!</p>
<p><em><strong>Note:</strong> If you haven't completed a DataCamp project before you should check out the <a href="https://projects.datacamp.com/projects/33">Intro to Projects</a> first to learn about the interface. In this project, you also need to know your way around <code>pandas</code> DataFrames and it's recommended that you take a look at the course <a href="https://www.datacamp.com/courses/data-manipulation-with-pandas">Data Manipulation with pandas</a>.</em></p>

In [1]:
# Use this cell to begin your analyses, and add as many cells as you would like!
import pandas as pd

lego_sets = pd.read_csv('datasets/lego_sets.csv')

lego_sets.head()

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

In [2]:
parent_themes = pd.read_csv('datasets/parent_themes.csv')

parent_themes.head()

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

## Exploring the Data Sets

In [3]:
lego_sets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11986 entries, 0 to 11985
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   set_num       11833 non-null  object
 1   name          11833 non-null  object
 2   year          11986 non-null  int64
 3   num_parts     6926 non-null   float64
 4   theme_name    11833 non-null  object
 5   parent_theme  11986 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 562.0+ KB

In [4]:
parent_themes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           111 non-null    int64
 1   name         111 non-null    object
 2   is_licensed  111 non-null    bool
dtypes: bool(1), int64(1), object(1)
memory usage: 2.0+ KB

## Cleaning Null Values From Unqie Attributes

In [5]:
unique_lego_sets = lego_sets.dropna(subset=['set_num'])
unique_lego_sets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11833 entries, 0 to 11832
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   set_num       11833 non-null  object
 1   name          11833 non-null  object
 2   year          11833 non-null  int64
 3   num_parts     6835 non-null   float64
 4   theme_name    11833 non-null  object
 5   parent_theme  11833 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 647.1+ KB

## Exploring Start Wars Themed LEGO

In [6]:
lego_sets['parent_theme'].unique()

array(['Legoland', 'Town', 'Castle', 'Space', 'Classic', 'Gear',
       'Universal Building Set', 'Train', 'Bulk Bricks', 'Star Wars',
       'Hobby Sets', 'Bionicle', 'Sculptures', 'Discovery', 'Pirates',
       'Seasonal', 'Super Heroes', 'Clikits', 'Sports', 'Harry Potter',
       'Model Team', 'Other', 'Modular Buildings', 'Factory',
       'Service Packs', 'Monster Fighters',
       'The Hobbit and Lord of the Rings', 'Creator', 'Adventurers',
       'Mindstorms', 'Technic', 'Educational and Dacta', 'Duplo',
       'Disney Princess', 'Juniors', 'Friends', 'Aquazone', 'Ninja',
       'Minitalia', 'Books', 'Ninjago', 'Hero Factory', 'Racers',
       'Fabuland', 'Rock Raiders', 'Studios', 'Alpha Team', '4 Juniors',
       'Building Set with People', 'Boat', 'Value Packs', 'Freestyle',
       'Time Cruisers', 'Indiana Jones', 'Master Building Academy',
       'FIRST LEGO League', 'Atlantis', 'Prince of Persia',
       'Architecture', 'LEGO Ideas and CUUSOO', 'Minecraft', 'Fusion',
       'Homemaker', 'Elves', 'Belville', 'Nexo Knights', 'Western',
       'Promotional', 'Toy Story', "Pharaoh's Quest", 'Cars',
       'Pirates of the Caribbean', 'Legends of Chima', 'The Lone Ranger',
       'Teenage Mutant Ninja Turtles', 'The LEGO Movie', 'Jurassic World',
       'Scooby-Doo', 'Designer Sets', 'LEGO Brand Store',
       'Island Xtreme Stunts', 'Znap', "Disney's Mickey Mouse",
       'Spybiotics', 'SpongeBob SquarePants', 'Avatar', 'Exo-Force',
       'Legoland Parks', 'Inventor', 'Brickheadz', 'Mixels', 'X-Pod',
       'Power Miners', 'Collectible Minifigures', 'Speed Champions',
       'Agents', 'LEGO Exclusive', 'Universe', 'Dino', 'Dinosaurs',
       'Vikings', 'Disney', 'Dimensions', 'Dino 2010', 'Dino Attack',
       'Angry Birds', 'Ghostbusters', 'Power Functions', 'Ben 10'],
      dtype=object)

In [7]:
star_wars_theme = unique_lego_sets.loc[unique_lego_sets['parent_theme'] == 'Star Wars']
print(star_wars_theme)

       set_num                                     name  year  num_parts  \
44     10018-1                               Darth Maul  2001     1868.0
45     10019-1              Rebel Blockade Runner - UCS  2001        NaN
54     10026-1                  Naboo Starfighter - UCS  2002        NaN
57     10030-1            Imperial Star Destroyer - UCS  2002     3115.0
116    10123-1                               Cloud City  2003      707.0
...        ...                                      ...   ...        ...
11811    VP-12       Star Wars Co-Pack of 7121 and 7151  2000        2.0
11816     VP-2       Star Wars Co-Pack of 7110 and 7144  2001        2.0
11817     VP-3       Star Wars Co-Pack of 7131 and 7151  2000        2.0
11818     VP-4  Star Wars Co-Pack of 7101 7111 and 7171  2000        3.0
11822     VP-8       Star Wars Co-Pack of 7130 and 7150  2000        NaN

                    theme_name parent_theme
44                   Star Wars    Star Wars
45     Star Wars Episode 4/5/6    Star Wars
54         Star Wars Episode 1    Star Wars
57     Star Wars Episode 4/5/6    Star Wars
116    Star Wars Episode 4/5/6    Star Wars
...                        ...          ...
11811      Star Wars Episode 1    Star Wars
11816  Star Wars Episode 4/5/6    Star Wars
11817      Star Wars Episode 1    Star Wars
11818      Star Wars Episode 1    Star Wars
11822  Star Wars Episode 4/5/6    Star Wars

[609 rows x 6 columns]

In [8]:
## Knowing How many licensed theme in the dataframe
licensed_sets = parent_themes.loc[parent_themes['is_licensed'] == True ]

print(licensed_sets)
licensed_sets.info()

      id                              name  is_licensed
7    158                         Star Wars         True
12   246                      Harry Potter         True
16   263          Pirates of the Caribbean         True
17   264                     Indiana Jones         True
18   269                              Cars         True
19   270                            Ben 10         True
20   271                  Prince of Persia         True
21   272             SpongeBob SquarePants         True
23   275                         Toy Story         True
33   317                            Avatar         True
43   388             Disney's Mickey Mouse         True
77   482                      Super Heroes         True
88   561  The Hobbit and Lord of the Rings         True
89   570      Teenage Mutant Ninja Turtles         True
91   575                   The Lone Ranger         True
93   577                         Minecraft         True
95   579                   Disney Princess         True
103  602                    Jurassic World         True
104  603                        Scooby-Doo         True
107  606                       Angry Birds         True
108  607                      Ghostbusters         True
109  608                            Disney         True
<class 'pandas.core.frame.DataFrame'>
Int64Index: 22 entries, 7 to 109
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           22 non-null     int64
 1   name         22 non-null     object
 2   is_licensed  22 non-null     bool
dtypes: bool(1), int64(1), object(1)
memory usage: 550.0+ bytes

## Joining the two data frames to Find out the total Licensed Sets

In [9]:
joined_lego_set = pd.merge(left = unique_lego_sets, right = parent_themes, how= 'inner',
                    left_on='parent_theme', right_on='name')
joined_lego_set.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,name_y,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,Legoland,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,Legoland,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,Legoland,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,Legoland,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,Legoland,False

In [10]:
# Will Drop the id column as we don't need it
joined_lego_set.drop("id", axis=1, inplace=True)
joined_lego_set.drop("name_y", axis=1, inplace=True)
joined_lego_set.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,False

## Calculating percentage of Star Wars themed Sets over all licensed sets ever released were

In [11]:
joined_lego_set[joined_lego_set['is_licensed'] == True].count()

set_num         1179
name_x          1179
year            1179
num_parts        664
theme_name      1179
parent_theme    1179
is_licensed     1179
dtype: int64

In [12]:
joined_lego_set[joined_lego_set['parent_theme'] == 'Star Wars'].count()

set_num         609
name_x          609
year            609
num_parts       334
theme_name      609
parent_theme    609
is_licensed     609
dtype: int64

In [13]:
#Calculating variables
number_of_licesnsed = (joined_lego_set['is_licensed'] == True).sum()
number_of_starwars = (joined_lego_set['parent_theme'] == 'Star Wars').sum()

#Question 1 Answer
the_force = (number_of_starwars/number_of_licesnsed)*100
print("The percentage of all licensed sets ever released that were Star Wars themed is " + str(the_force) + "%")

The percentage of all licensed sets ever released that were Star Wars themed is 51.653944020356235%

## In which year was Star Wars not the most popular licensed theme

In [14]:
only_licensed = joined_lego_set.loc[joined_lego_set['is_licensed'] == True]
only_licensed

,set_num,name_x,year,num_parts,theme_name,parent_theme,is_licensed
3493,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,True
3494,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,True
3495,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,True
3496,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,True
3497,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,True
...,...,...,...,...,...,...,...
11828,8410-1,Swampfire,2010,22.0,Ben 10,Ben 10,True
11829,8411-1,ChromaStone,2010,21.0,Ben 10,Ben 10,True
11830,8517-1,Humungousaur,2010,14.0,Ben 10,Ben 10,True
11831,8518-1,Jet Ray,2010,NaN,Ben 10,Ben 10,True
11832,8519-1,Big Chill,2010,20.0,Ben 10,Ben 10,True

In [15]:
#Created a subset of only needed data to answer the second question
subset_only_licensed = only_licensed[['set_num','year','parent_theme']]

subset_only_licensed

       set_num  year parent_theme
3493   10018-1  2001    Star Wars
3494   10019-1  2001    Star Wars
3495   10026-1  2002    Star Wars
3496   10030-1  2002    Star Wars
3497   10123-1  2003    Star Wars
...        ...   ...          ...
11828   8410-1  2010       Ben 10
11829   8411-1  2010       Ben 10
11830   8517-1  2010       Ben 10
11831   8518-1  2010       Ben 10
11832   8519-1  2010       Ben 10

[1179 rows x 3 columns]

In [16]:
most_popular_sets = subset_only_licensed.groupby('year')['parent_theme'].agg(pd.Series.mode)
most_popular_sets

year
1999       Star Wars
2000       Star Wars
2001       Star Wars
2002       Star Wars
2003       Star Wars
2004       Star Wars
2005       Star Wars
2006       Star Wars
2007       Star Wars
2008       Star Wars
2009       Star Wars
2010       Star Wars
2011       Star Wars
2012       Star Wars
2013       Star Wars
2014       Star Wars
2015       Star Wars
2016       Star Wars
2017    Super Heroes
Name: parent_theme, dtype: object

In [18]:
new_era = int(most_popular_sets[most_popular_sets != 'Star Wars'].index[0])
print("The year were Star Wars was not the most popular licensed theme is " + str(new_era))

The year were Star Wars was not the most popular licensed theme is 2017